<!--TOP SECTION-->
<div class="inn-banner">
  <div class="container">
    <div class="row">
      <h4>ENA Coach</h4>
      <p>Enjoy world class transport services aboard our classic, clean and elegant shuttles and long range buses</p>
      <p> </p>
      <ul>
        <li><a href="#">Home</a>
        </li>
        <li><a href="#">ENA Coach</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="inn-body-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-left">
          <h2>Welcome to <span>ENA Coach</span></h2>
          <h4>Our vision is to offer world-class transportation services in an innovative way while harnessing the use of technology to delight retain and defend our clients</h4>
          <p>ENA Coach is a bus and shuttle company being run by ENA Investments Limited. The company has been operational since 2010 but has been operating under a different SACCO.</p>
          <p>With Experience in the PSV industry and courier services, ENA Coach in partnership with Explorer Parcel Handlers (EPH) has evaluated the challenges and come up with better services to offer exemplary services. ENA Coach covers more than 30 routes within Kenya and is working round the clock to add more routes within Kenya and the greater East African region.</p>



          <a href="#" class="link-btn">Customer Care: 041-224-6620</a> </div>
      </div>
      <div class="col-md-6">
        <div class="about-right"> <img src="assets/images/about.jpg" alt=""> </div>
      </div>
    </div>
  </div>
</div>
