<section>
  <div class="mm">
    <div class="mm-inn">
      <div class="mm-logo">
        <a href="index.html"><img src="/assets/images/logo.png" alt="">
        </a>
      </div>
      <div class="mm-icon"><span><i class="fa fa-bars show-menu" aria-hidden="true"></i></span>
      </div>
      <div class="mm-menu">
        <div class="mm-close"><span><i class="fa fa-times hide-menu" aria-hidden="true"></i></span>
        </div>
        <ul>
          <li [routerLink]="['/routePath']" routerLinkActive="router-link-active"><a>Home </a></li>
          <li [routerLink]="['/booking']" routerLinkActive="router-link-active"><a>Booking</a></li>
          <li [routerLink]="['/fare']" routerLinkActive="router-link-active"><a>Fare Chart</a></li>
          <li [routerLink]="['/offices']" routerLinkActive="router-link-active"><a>Our Offices</a></li>
          <li [routerLink]="['/about']" routerLinkActive="router-link-active"><a>Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>