<section class="main">
<div class="hom-body-section">	
<div class="container">
  <div class="row">
    <div class="home-bod">
      <div class="home-bod-1">
        <h4>Book & Pay <span>100%</span> Online</h4>
        <h2>Online Booking</h2>
        <p>our brand new effective transport service is powered 
          by effortless booking and payment.
            book, make payments and receive your tickets quickly</p>
        
      </div>
      <div class="home-bod-2">
        <ul>
          <li>
            <a [routerLink]="['/booking']" routerLinkActive="router-link-active"  class="waves-effect waves-light btn-large wed-pop-ser-btn"><i class="far fa-address-book"></i> Booking</a>
          </li>
          <li>
            <a [routerLink]="['/fleet']" routerLinkActive="router-link-active"  class="waves-effect waves-light btn-large wed-pop-ser-btn"><i class="fas fa-bus"></i>Our Fleet</a>
          </li>
          <li>
            <a [routerLink]="['/fare']" routerLinkActive="router-link-active"  class="waves-effect waves-light btn-large wed-pop-ser-btn"> <i class="fas fa-dollar-sign"></i> our Fares</a>
          </li>
          <li>
            <a [routerLink]="['/about']" routerLinkActive="router-link-active"  class="waves-effect waves-light btn-large wed-pop-ser-btn"> <i class="fas fa-info-circle"></i> About Ena</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-search-bus></app-search-bus>
</div>
</section>


