.pay-icon{
    height: auto;
    width: 100%;
    max-height: 100px;
}
.list-group-item{
    margin-top: 5px;
    cursor: pointer;
    height: auto;
    padding: 0;
}
.express-btn{
    height: 100%;
    background-color: #fff;
    border: 0px;
}
.express-img{
    width: 100%;
}
