<!--TOP BANNER-->
<div class="inn-banner">
    <div class="container">
      <div class="row">
        <h4>Vehicle Availability</h4>
        <p>Here are our fares and destinations for today 
          2018-10-29. Please check regulary for your bus before booking<p>
          <ul>
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"  href="#">Home</a>
            </li>
            <li><a href="#">Fare</a>
            </li> 
          </ul>
      </div>
    </div>
  </div>
  <!--TOP SECTION-->
  <div class="inn-body-section pad-bot-65">
    <div class="container">
      <div class="row inn-page-com">        
        <!--SERVICES SECTION-->
        <div class="col-md-12">
          <div class="row" >
              <app-loading *ngIf="loading"></app-loading>  
          </div>
          <div class="row" *ngFor="let bus of availableBuses">
            <div class="res-menu"> 
              <img src="/assets/images/menu/1.jpg" alt="" />
              <h3>{{bus.route}} <span>Ksh {{bus.price[0].name.split('-')[2]}}</span></h3> 
              <span class="menu-item">{{bus.destinations}}</span>
            </div>            
          </div>
        </div>
        <!--END SERVICES SECTION-->        
      </div>
      
    </div>
  </div>