.seat-grid{
    display: grid;    
    grid-template-columns: repeat(3,70px);
    
}
.seat-row{
    margin: 10px;
    /* padding: 10px; */
    /* background-color: rgb(211, 230, 212); */
    cursor: pointer;
    
}
.seat-area {
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    text-align: center;
    
}
.seat-label {
    color: #FF6F00;
    font-weight: 600;
}