<body data-ng-app="">
	<!--MOBILE MENU-->
	<ng4-loading-spinner> </ng4-loading-spinner>	
  <app-side-nav></app-side-nav>
	<!--HEADER SECTION-->
	<section>
		<!--TOP SECTION-->		
		<app-nav-bar></app-nav-bar>
		
		<!--TOP SECTION-->
		<!--TOP SECTION-->		
		<!-- <div class="inn-body-section "> -->
				<!-- <flash-messages></flash-messages>						 -->
				<router-outlet></router-outlet>
			<!-- </div> -->
		
		<!--TOP SECTION-->
		<!--TOP SECTION-->
		<div class="hom-footer-section">
			<div class="container">
				<div class="row">
					<div class="foot-com foot-1">
						<ul>
							<li><a href="#"><i class="fab fa-facebook"></i></a>
							</li>
							<li><a href="#"><i class="fab fa-instagram"></i></a>
							</li>
							<li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
					<div class="foot-com foot-2">
						<h5>Helpline: 041226620</h5>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!--END HEADER SECTION-->
  <!-- FOOTER HERE -->  
  <app-footer></app-footer>
  <!-- end footer -->
	<section class="copy">
		<div class="container">
			<p>© 2018 ENA Investments Ltd. Powered by <img class="icon" src="/assets/images/avatar2.png"> </p>
		</div>
  </section>  	
</body>