<!--TOP BANNER-->
<div class="inn-banner">
  <div class="container">
    <div class="row">
      <h4>Our Fleet</h4>
      <p>Our fleet has these amazing vehicles
        <p>
          <ul>
            <li><a href="#">Home</a>
            </li>
            <li><a href="#">Our Fleet</a>
            </li>
          </ul>
    </div>
  </div>
</div>

<!--TOP SECTION-->
<div class="inn-body-section pad-bot-60">
  <div class="container">
    <div class="row inn-page-com">
      <div class="col-md-6">
        <a href="hotel-detail.html">
          <div class="all-hotel-like-com">
            <div class="all-hotel-lc-img"> <img src="/assets/images/hotel/1.jpeg" alt=""> </div>
            <div class="all-hotel-lc-con">
              <h5>Spacious Buses</h5>
              <p>Our clean and spacious 49 seater buses have extra leg room to make your journey enjoyable</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="all-hotel-like-com">
            <div class="all-hotel-lc-img"> <img src="/assets/images/hotel/2.jpeg" alt=""> </div>
            <div class="all-hotel-lc-con all-hotel-lc-con2">
              <h5>Express Shuttles</h5>
              <p>11 seater express and spacious shuttle</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="all-hotel-like-com">
            <div class="all-hotel-lc-img"> <img src="/assets/images/hotel/3.jpeg" alt=""> </div>
            <div class="all-hotel-lc-con all-hotel-lc-con2">
              <h5>Clean & Elegant</h5>
              <p>Our vehicles are designed for your confort</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="all-hotel-like-com">
            <div class="all-hotel-lc-img"> <img src="/assets/images/hotel/2.jpeg" alt=""> </div>
            <div class="all-hotel-lc-con all-hotel-lc-con2">
              <h5>14 Seater Shuttle</h5>
              <p></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="all-hotel-like-com">
            <div class="all-hotel-lc-img"> <img src="/assets/images/hotel/3.jpeg" alt=""> </div>
            <div class="all-hotel-lc-con all-hotel-lc-con2">
              <h5>Safety Record</h5>
              <p></p>
            </div>
          </div>
        </a>
      </div>
      <!--END SERVICES SECTION-->
    </div>
  </div>
</div>

