<p>
  fiveteene-seater works!
</p>
<div class="seat-grid">
  <div class="seat-area row-grid" *ngFor="let seat of first_row">
    {{seat}}
  </div>
</div>
  <div class="grid-fourth">
    <div class=" seat-area column-four" *ngFor="let seat of second_row" >
      {{seat}}
    </div>
  </div>
  <div class="seat-grid">
    <div class=" seat-area row-grid" *ngFor="let seat of third_row">
      {{seat}}
    </div>
  </div>
  <div class="seat-grid">
    <div class=" seat-area row-grid" *ngFor="let seat of fourth_row">
      {{seat}}
    </div>
  </div>
  <div class="grid-fourth">
    <div class=" seat-area column-four" *ngFor="let seat of fifth_row" >
      {{seat}}
    </div>
  </div>
  
  <!-- <div class="column-two" *ngFor="let seat of third_row" >
    {{seat}}
  </div>
  <div class="column-two" *ngFor="let seat of fourth_row" >
    {{seat}}
  </div>
  <div class="grid-fourth">
    <div class="column-four" *ngFor="let seat of fifth_row" >
      {{seat}}
    </div>
  </div>
</div> -->
