<div class="container ticket-list">
  <div class="row">
    <div class="col m1">
      <button class="btn btn-danger" (click)="print()">print</button>
    </div>
    <div class="col m11">
      <div id="to-print-content">        
        <div id="rcorners2" *ngFor="let ticket of mytickets">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="background-color:#d9d9d9;">
                      <img src="assets/images/ticket_logo.png" height="70px">
                    </td>
                    <td style="background-color:#d9d9d9; font-family:AmplitudeWide-Book; font-size:10px;">
                      <h1><strong>PO BOX 152 - 40202, Kenya<br />Helpline: 041226620</strong></h1>
                    </td>
                    <td style="background-color:#d9d9d9;">
                      <img src="assets/images/mticket_black.png">
                    </td>
                  </tr>
                </table>
              </td>
              <td style="background-color:#d9d9d9; font-family:AmplitudeWide-Book;">
                <h2>BUS TICKET</h2>
              </td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h4><small>Passenger name</small><br />{{ticket.name}}</h4>
                          </td>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h4><small>Vehicle</small><br /><strong>{{ticket.vehicle_name}}</strong></h4>
                          </td>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h3><small>Date</small><br /><strong>{{ticket.travel_date}}</strong></h3>
                          </td>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h3><small>Time</small><br /><strong>{{ticket.travel_time}}</strong></h3>
                          </td>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h3><small>Seat</small><br /><strong>{{ticket.seat}}</strong></h3>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h3><small>From</small><br />{{ticket.travel_from}}</h3>
                          </td>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h3><small>To</small><br /><strong>{{ticket.travel_to}}</strong></h3>
                          </td>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h3><small>Ticket No</small><br /><strong>{{ticket.bus_company_ref_number}}</strong></h3>
                          </td>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h3><small>PNR Locator</small><br /><strong>{{ticket.reference_number}}</strong></h3>
                          </td>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h3><small>Fare</small><br /><strong>KES{{ticket.amount}}</strong></h3>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h5><small>Issued on</small> <strong>{{ticket.payment_date}}</strong> <small>by</small>
                              <strong></strong></h5>
                          </td>
                          <td></td>
                          <td style="background-color:none; font-family:AmplitudeWide-Book;">
                            <h5>Please report to the boarding station no later than 30 minutes to departure</h5>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <img src={{ticket.qr_code}} height="200px" width="200px">
              </td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="background-color:#d9d9d9; font-family:AmplitudeWide-Book; font-size:15px;">
                      <h2><img src="assets/images/have_a_nice_trip.png" height="30px"></h2>
                    </td>
                    <td style="background-color:#d9d9d9; font-family:AmplitudeWide-Book;"></td>
                    <td style="background-color:#d9d9d9; font-family:AmplitudeWide-Book;">
                      <img src="assets/images/payment_methods_powered_by_jambopay.png" height="50px">
                    </td>
                  </tr>
                </table>
              </td>
              <td style="background-color:#d9d9d9; font-family:AmplitudeWide-Book;">
                <img src="assets/images/powered_by_mobiticket_colour.png" height="40px">
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>