#rcorners2 {
    border-radius: 25px;
    border: 10px solid #d9d9d9;
    padding: 0px; 
    width: 1000px;
    height: 365px;
    /* background-image: url("../../../assets/images/water_mark_logo.png"), url("../../../assets/images/water_mark_logo.png");  */
}

#rcorners2 table {
    border-collapse:separate;
    border:solid #d9d9d9 0px;
    width: 800px;
    border-radius:5px;
    -moz-border-radius:0px;
}

#rcorners2 td, th {
    border-left:solid black 0;
    border-top:solid black 0;
}

#rcorners2 th {
    background-color: blue;
    border-top: none;
}

#rcorners2 td:first-child, th:first-child {
     border-left: none;
}
@font-face {
    font-family: AmplitudeWide-Book;
    /* src: url("../../../assets/fonts/AmplitudeWide-Book.ttf"); */
}

@font-face {
    font-family: AmplitudeComp-Bold;
    /* src: url("../../../assets/fonts/AmplitudeComp-Bold.ttf"); */
    font-weight: bold;
}
.ticket-list{
    /* text-align: center; */    
    margin-top: 100px;    
    /* padding: auto; */
}
