<div class="db-cent-table db-com-table">
  <table class="bordered responsive-table">
    <thead>
      <tr>
        <th>Passenger Name</th>
        <th>From</th>
        <th>To</th>
        <th>Fare</th>
        <th>Travel Date</th>
        <th>Booking Date</th>
        <th>Payment ID</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of TicketList">
        <td>{{ticket.name}}</td>
        <td>{{ticket.travel_from}}</td>
        <td>{{ticket.travel_to}}</td>
        <td>{{ticket.amount}}</td>
        <td>{{ticket.travel_date}}</td>
        <td>{{ticket.payment_date}}</td>
        <td>{{ticket.reference_number}}</td>
        <td *ngIf="ticket.status =='cancelled'"><a href="#" class="db-not-success">{{ticket.status}}</a></td>
        <td *ngIf="ticket.status =='pending'"><a href="#" class="db-not-success">{{ticket.status}}</a></td>
        <td *ngIf="ticket.status =='confirmed'"><div (click)="printTicket(ticket)"  class="db-success">{{ticket.status}}(Print)</div></td>
      </tr>
    </tbody>
  </table> 

  


  