<div class="db-cent-table db-com-table">
  Reference No {{ReferenceNumber}}
  <table class="bordered responsive-table">
    <thead>
      <tr>
        <th>Passenger Name</th>
        <th>From</th>
        <th>To</th>
        <th>Fare</th>
        <th>Travel Date</th>
        <th>Booking Date</th>
        <th>Payment ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>Nickson Nyakambi</td>
          <td>Kisumu</td>
          <td>Kisii</td>
          <td>KES.400</td>
          <td>12-12-2018  00:00</td>
          <td>2018-12-12 11:42:59</td>
          <td>PENDING</td>
          <td><a href="#" class="db-not-success">pending</a></td>
        </tr>
    </tbody>
  </table>

