<div class="inn-banner">
  <div class="container">
    <div class="row">
      <h4>Our Offices</h4>
      <p>We have offices all over the country. Below are the contacts of the various office locations around Kenya.</p>
      <p> </p>
      <ul>
        <li><a href="#">Home</a>
        </li>
        <li><a href="#">Offices</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="inn-body-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 new-con">
        <h2>MAIN OFFICE <span>NAIROBI</span></h2>
        <p>Location: KPCU Building (Wakulima House), Ground Floor Along Haile Selassie Avenue</p>
        <p>Nairobi, Kenya
          <br>Phone No : 041-224-6620</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Mombasa 1</h4>
        <p>Location:
          <br>Phone No : 0777565710</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Mombasa 2</h4>
        <p>Location:
          <br>Phone No : 0777565711</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Narok</h4>
        <p>Location:
          <br>Phone No : 0777565712</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Sotik</h4>
        <p>Location:
          <br>Phone No : 0777565713</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Kijauri</h4>
        <p>Location:
          <br>Phone No : 0777565714</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Keroka</h4>
        <p>Location:
          <br>Phone No : 0777565715</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Birongo</h4>
        <p>Location:
          <br>Phone No : 0777565716</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Keumbu</h4>
        <p>Location:
          <br>Phone No : 0777565717</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Kisii 1</h4>
        <p>Location:
          <br>Phone No : 0777565718</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Kisii 2</h4>
        <p>Location:
          <br>Phone No : 0777565719</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Nyamira</h4>
        <p>Location:
          <br>Phone No : 0777565720</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Kebirigo</h4>
        <p>Location:
          <br>Phone No : 0777565721</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Nyachenge</h4>
        <p>Location:
          <br>Phone No : 0777565722</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Tabaka</h4>
        <p>Location:
          <br>Phone No : 0777565723</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Rongo</h4>
        <p>Location:
          <br>Phone No : 0777565724</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Awendo</h4>
        <p>Location:
          <br>Phone No : 0777565725</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Migori</h4>
        <p>Location:
          <br>Phone No : 0777565726</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Kehancha</h4>
        <p>Location:
          <br>Phone No : 0777565727</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Sirare</h4>
        <p>Location:
          <br>Phone No : 0777565728</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Rodi</h4>
        <p>Location:
          <br>Phone No : 0777565729</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Homa Bay</h4>
        <p>Location:
          <br>Phone No : 0777565730</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Ndhiwa</h4>
        <p>Location:
          <br>Phone No : 0777565731</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Sori</h4>
        <p>Location:
          <br>Phone No : 0777565732</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Mbita</h4>
        <p>Location:
          <br>Phone No : 0777565733</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Oyugis</h4>
        <p>Location:
          <br>Phone No : 0777565734</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Katito</h4>
        <p>Location:
          <br>Phone No : 0777565735</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Kendu Bay</h4>
        <p>Location:
          <br>Phone No : 0777565736</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="/assets/images/icon/20.png" alt="">
        <h4>Kisumu 1</h4>
        <p>Location:
          <br>Phone No : 0777565739</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 new-con"> <img src="images/icon/20.png" alt="">
        <h4>Kisumu 2</h4>
        <p>Location:
          <br>Phone No : 0777565740</p>
      </div>
    </div>
  </div>
</div>