/* You can add global styles to this file, and also import other style files */
.seat-label{
    font-size: 11px; 
    color: #fff;
    align-content: center;
    cursor: pointer;      
}
.seat-area{
    align-content: center;
    padding: 5px;
    justify-content: center;
}
.seat-not-available{
    background: linear-gradient(to right bottom, #D50000, #D50000);
    margin-left: 0%;    
}
.pay-icon1{
    width: 100%;
}